.top-banner{
    background-image: url(Utilities/banner.jpg);
    width: 100%;
    height: 710px;
  }
  .top-banner h1{
    font-size: 35px;
    color: orangered;
    font-family: 'Berkshire Swash', cursive;
   }
   .card{
    background-color: black;
   }
   .function{
    background-color: black;
   }
   footer{
    background-color: black;
    width: 100%;
   }